<!-- To load base file of html header and footer including css and js -->
{% extends 'base.html' %}
<!-- To load static files directory -->
{% load static %}
<!-- To Display Page Title -->
{% block title %} Dashboard {% endblock %}
<!-- Page content Starts From Here -->
{% block content %}
{% if user.is_authenticated %}

{% include 'seller/sidebar.html' %}
<div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Shop Settings
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="row g-0">
                <div class="col-3 d-none d-md-block border-end">
                  <div class="card-body">
                    <h4 class="subheader">Business settings</h4>
                    <div class="list-group list-group-transparent">
                      <a href="{% url 'seller:create_shop' %}" class="list-group-item list-group-item-action d-flex align-items-center">My Shop</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center active">Edit Shop</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Connected Apps</a>
                      <a href="{% url 'seller:settings_plan' %}" class="list-group-item list-group-item-action d-flex align-items-center">Plans</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Billing & Invoices</a>
                    </div>
                    <h4 class="subheader mt-4">Experience</h4>
                    <div class="list-group list-group-transparent">
                      <a href="#" class="list-group-item list-group-item-action">Give Feedback</a>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column">
                            <div class="card-body">
                                <h2 class="mb-4">My Shop</h2>
                                <h3 class="card-title">Business Profile Details</h3>
                                <form method="post" action="{% url 'seller:edit_shop' business_name=shop.name %}" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row align-items-center">
                                        <div class="col-md">
                                            <div class="form-label">Upload Logo</div>
                                            <input type="file" name="logo" class="form-control" /> <br>
                                        </div>
                                    </div>

                                    <div class="row g-3">
                                        <div class="col-md">
                                            <div class="form-label">Shop Name</div>
                                            <input type="text" name="name" placeholder="Shop Name" class="form-control" value="{{ shop.name }}">
                                        </div>
                                        <div class="col-md">
                                            <div class="form-label">Phone Number</div>
                                            <input type="text" name="contact_number" placeholder="Phone Number" class="form-control" value="{{ shop.contact_number }}">
                                        </div>
                                        <div class="col-md">
                                            <div class="form-label">Tax / GST Number</div>
                                            <input type="text" name="tax_gst_number" placeholder="Tax / GST Number" class="form-control" value="{{ shop.tax_gst_number }}">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-label">Email</div>
                                            <input type="text" name="official_email" placeholder="Email" class="form-control w-auto" value="{{ shop.official_email }}">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-label">About Your Business</div>
                                            <textarea rows="5" name="description" class="form-control" placeholder="Add About Your Business">{{ shop.description }}</textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        <label class="form-label">Business Address</label>
                                        <input type="text" name="official_address" class="form-control" placeholder="Add Address Here" value="{{ shop.address }}">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="#" class="link-secondary"> Terms and Conditions </a></li>
                  <li class="list-inline-item"><a href="#" class="link-secondary"> Privacy Policy </a></li>
                  <li class="list-inline-item">
                    <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                        Made with
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                      in India.
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Hostingstar</a>.
                    All rights reserved.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% else %}
    {% comment %}
      User is not authenticated, redirect to login page.
      You can customize the URL to match your login URL.
    {% endcomment %}
    <script>
      window.location.href = "{% url 'seller:login' %}";
    </script>

        <!-- Libs JS -->
    <script src= "{% static 'libs/list.js/dist/list.js' %}" defer></script>
    <script src= "{% static 'libs/list.js/dist/list.min.js' %}" defer></script>
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
    <script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
    <script src="{% static 'libs/jsvectormap/dist/maps/world.js' %}" defer></script>
    <script src= "{% static 'libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>

    <!-- Tabler Core -->
    <script src="{% static 'js/tabler.min.js' %}" defer></script>

    <!-- Tabler Core -->
    <script src="{% static 'js/demo.min.js' %}" defer></script>
    <script src="{% static 'js/demo-theme.min.js' %}" defer></script>

<!-- Add more content for the dashboard as needed -->
{% endif %}
{% endblock %}
