{% load static %}

<footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
                  <li class="list-inline-item"><a href="#" class="link-secondary">About</a></li>
                    <li class="list-inline-item">
                    <a href="#" target="_blank" class="link-secondary" rel="noopener">
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                        Made with
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                      in India for {{ shop.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Hostingstar</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">
                      {{ shop.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Libs JS -->
    <script src= "{% static 'libs/list.js/dist/list.js' %}" defer></script>
    <script src= "{% static 'libs/list.js/dist/list.min.js' %}" defer></script>
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
    <script src="{% static 'libs/jsvectormap/dist/js/jsvectormap.min.js' %}" defer></script>
    <script src="{% static 'libs/jsvectormap/dist/maps/world.js' %}" defer></script>
    <script src= "{% static 'libs/jsvectormap/dist/maps/world-merc.js' %}" defer></script>

    <!-- Tabler Core -->
    <script src="{% static 'js/tabler.min.js' %}" defer></script>

    <!-- Tabler Core -->
    <script src="{% static 'js/demo.min.js' %}" defer></script>
    <script src="{% static 'js/demo-theme.min.js' %}" defer></script>


  </body>
</html>