<!-- To load base file of html header and footer including css and js -->
{% extends 'base.html' %}
<!-- To load static files directory -->
{% load static %}
{% load socialaccount %}
<!-- To Display Page Title -->
{% block title %} Signup {% endblock %}

<!-- Page content Starts From Here -->
{% block content %}
<div class="page page-center">
    <div class="container container-tight py-8">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.svg' %}" height="36" alt=""></a>
        </div>
        <form class="card card-md" action="{% url 'seller:register' %}" method="post" autocomplete="on" novalidate>
            {% csrf_token %}

            <div class="card-body">
                <h2 class="card-title text-center mb-4">Enter Your Username</h2>
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Go To Dashboard</button> &nbsp
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Already have an account? <a href="{% url 'seller:login' %}" tabindex="-1">Sign in</a>
        </div>
    </div>
</div>
{% endblock %}
